body{
  background:#ecf0f1;
}

#calendar_button{
  background: #E4E4E2;
  padding-top: 3%;
  padding-bottom:3%;
  margin-left:25%;
  margin-right:25%;
  border:dotted 3px #ecf0f1;
}

#calendar_button:hover{
  background: #F4F4F2;

}
#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}
#habit_input_modal, #current_habit_modal{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;

  width:30%;
  padding: 20px;
  background: white;
  display:none;

}
#habit_list{
  list-style: none;
}

#habit-section{
  padding-bottom:5%;
}
#habit_wrapper{
  /*border:dotted 5px #ecf0f1;*/
  /*border-left:dotted 4px #ecf0f1;*/
  padding-right:2%;
  /*background:#282C34;*/
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left:20%;
  margin-right:40%;
  border-radius: 6px 16px 16px 100px;
  -moz-border-radius: 6px 16px 16px 116px;
  -webkit-border-radius: 6px 16px 16px 100px;
}
#habit_list > li{
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom:10px;
  background: #E74C3C;
}

/*#add_more {
margin-top: 30px;
margin-left: 8px;
border-radius: 6px 16px 16px 116px;
-moz-border-radius: 6px 16px 16px 116px;
-webkit-border-radius: 6px 16px 16px 116px;
}*/

#habit_list > li:hover{
  background:#F25C5C;

}


#page_nav{
}

#upper-left{
  float:left;
  width:80%;
}

#upper-right{
  float:right;
  width: 20%;

}

@media (max-width: 50em) {
  #upper-right {
    display: none;
  }
  #upper-left{
    width:100%;
  }
  #habit_input_modal, #current_habit_modal{
    width: 50%;
  }
}

@media (max-width: 30em) {
  #upper-left{
    width:100%;
    padding:0px;
  }
  #habit_list > li{
    padding:10%;
  }
  #habit_wrapper{
    margin-left:0%;
    margin-right:0%;
  }
  #add_more{
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  #habit_input_modal, #current_habit_modal{
    width: 100%;
  }
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 50%;
}
.wrapper-Clear{
  overflow: hidden;

}

#habit_listing_nav{
  margin-right: 21%;
}
